/* You can add global styles to this file, and also import other style files */
$sass-path: 'src/scss/';
$mixin-path: $sass-path + 'mixins/';
$module-path: $sass-path + 'modules/';
$partial-path: $sass-path + 'partials/';
$vendor-path: $sass-path + 'vendor/';

//----------------------------------*\
// SCSS MIXINS
//----------------------------------*/

@import 'src/scss/mixins/_position.scss';
@import 'src/scss/mixins/_selection.scss';
@import 'src/scss/mixins/_font-default.scss';
@import 'src/scss/mixins/_image-resize.scss';
@import 'src/scss/mixins/_border-radius.scss';
@import 'src/scss/mixins/_clickable.scss';
@import 'src/scss/mixins/_screenreader.scss';
@import 'src/scss/mixins/_shapes.scss';

//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

// Config modules
@import 'src/scss/modules/_vars.scss';
@import 'src/scss/modules/_clearfix.scss';
@import 'src/scss/modules/_defaults.scss';

//----------------------------------*\
// PARTIALS
//----------------------------------*/

@import 'src/scss/partials/_header.scss';
@import 'src/scss/partials/_nav.scss';
@import 'src/scss/partials/_sidebar.scss';
@import 'src/scss/partials/_main.scss';
@import 'src/scss/partials/_footer.scss';
@import 'src/scss/partials/_images.scss';
@import 'src/scss/partials/_twitter-feed.scss';

//----------------------------------*\
// OBJECTS & MODULES
//----------------------------------*/

@import 'src/scss/modules/_buttons.scss';
@import 'src/scss/modules/_inputs.scss';
@import 'src/scss/modules/_lists.scss';
@import 'src/scss/modules/_typography.scss';
@import 'src/scss/modules/_misc.scss';
@import 'src/scss/modules/_app.scss';

// Enhancement modules
@import 'src/scss/modules/_breakpoints.scss';
@import 'src/scss/modules/_print.scss';

//----------------------------------*\
// VENDOR
//----------------------------------*/

@import 'src/scss/vendor/_external.scss';
